

<footer class="lg:py-38 bg-primary py-10 sm:py-16">
  <div class="mx-auto text-white max-w-xs sm:max-w-xl md:max-w-3xl lg:max-w-6xl">
    <div class="flex lg:flex-row flex-col gap-x-20">

      <div>
        <img class="mb-10" src="./assets/logo-large.png" alt="company logo" />
        <div class="grid grid-cols-icon gap-x-4 lg:grid-cols-3 lg:gap-x-2 gap-y-4">
          <a href="/"><img src="./assets/instagram.svg" alt="instagram" /></a>
          <a href="/"><img src="./assets/linkedln.png" alt="linkedin" /></a>
          <a href="/"><img src="./assets/facebook.svg" alt="facebook" /></a>
          <a href="/"><img src="./assets/gmail.svg" alt="gmail" /></a>
          <a href="/"><img src="./assets/twitter.svg" alt="twitter" /></a>
          <a href="/"><img src="./assets/whatsapp.svg" alt="whatsapp" /></a>
        </div>
      </div>

      <div class="flex flex-col sm:flex-row gap-x-14 mt-10 lg:mt-0 ">

        <div class="flex gap-x-16 lg:gap-x-14">
            <ul class="text-sm md:text-lg">
          <li class="mb-6 text-base md:text-xl font-bold">Company</li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/">Home</a>
          </li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/about-us">About us</a>
          </li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/blog">Blog</a>
          </li>
          <li class="transition-all duration-100 hover:text-white/60">
            <a href="/carrers">Carrers</a>
          </li>
        </ul>

        <ul class="text-sm md:text-lg">
          <li class="mb-6 text-base md:text-xl font-bold">Resources</li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/healthpedia">Healthpedia</a>
          </li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/">FAQ's</a>
          </li>
        </ul>
        </div>

        <ul class="text-sm md:text-lg mt-10 sm:mt-0">
          <li class="mb-6 text-base md:text-xl font-bold">Legal</li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/">Delivery policy</a>
          </li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/">Privacy policy</a>
          </li>
          <li class="mb-4 transition-all duration-100 hover:text-white/60">
            <a href="/">Terms and conditions</a>
          </li>
        </ul>

      </div>

    </div>

    <div class="mt-20 border-t border-slate-400/30">
      <p class="mt-4 text-sm text-slate-400">&#169; Mediq-i 2023</p>
    </div>
  </div>
</footer>
