---
import wavePattern from "/assets/wave-pattern.svg";
---

<section class="relative bg-secondary py-10 sm:py-16 lg:py-44">
  <div
    class="relative z-30 mx-auto flex items-center max-w-xs flex-col text-white sm:max-w-xl md:max-w-3xl lg:max-w-6xl lg:flex-row"
  >
    <div class="lg:w-[60%]">
      <h3
        class="mb-8 font-heading text-xl sm:text-heading-three lg:mb-0 lg:text-heading-two sm:leading-[140%]"
      >
        Get helpful,doctor-recommended health news and tips, delivered weekly.
      </h3>
    </div>

    <div class="lg:w-[40%]">
      <!-- <form class="flex flex-col items-start">
        <input
          class="mb-3 w-full border-2 border-white bg-transparent py-5 px-3 outline-slate-200 sm:py-6"
          type="text"
          placeholder="Enter your name"
        />
        <input
          class="mb-4 w-full border-2 border-white bg-transparent py-5 px-3 outline-slate-200 sm:py-6"
          type="email"
          placeholder="Enter your email "
        />
        <button
          class="rounded-full border-2 border-white bg-white py-4 px-7 font-bold text-secondary transition-all duration-150 hover:border-2 hover:bg-opacity-0 hover:text-white"
          >Subscribe now</button
        >
      </form> -->

      <div class="bg-white px-12 py-10 rounded-lg">

        <div class="ml-embedded" data-form="f8AScd"></div>
      </div>

    </div>
  </div>
  <div class="absolute top-0 bottom-0 right-0 left-0 z-10 lg:left-auto">
    <img class="h-full w-full" src={wavePattern} alt="wave pattern" />
  </div>
</section>
