<section
  class="relative mt-28 bg-[url('/assets/join-us.png')] bg-cover bg-fixed bg-center bg-no-repeat"
>
  <div
    class="relative z-30 mx-auto max-w-xs sm:max-w-xl md:max-w-3xl lg:mt-28 lg:max-w-6xl"
  >
    <div class="py-40 text-white">
      <div class="text-center">
        <h3
          class="mx-auto mb-4 font-heading text-heading-four lg:w-[70%] lg:text-heading-one"
        >
          Are you a healthcare provider?
        </h3>
        <p class="mx-auto mb-6 md:w-[70%] lg:w-3/5">
          Mediq-i is open to all healthcare providers including doctors,
          pharmacists, lab technicians, therapists and more.
        </p>
        <a href="https://portal.mediqihealth.com/login"
          
            class="z-30 mt-4 w-max mx-auto rounded-full border-2 border-white bg-white py-2 px-[18px] font-bold text-slate-800 opacity-100 transition-all duration-300 hover:border-2 hover:border-white hover:bg-opacity-0 hover:text-white md:block"
            >Join Us Today</a>
      </div>

      <!-- <div class="mx-auto mt-4 text-center">
        <div class="ml-embedded" data-form="f8AScd"></div>
      </div> -->
    </div>
  </div>

  <div class="absolute inset-0 z-10 bg-black/40"></div>
</section>
