---
import Nav from "../partials/Nav.astro";
---

<header
  class="relative overflow-hidden bg-[url('/assets/black-family.jpg')] bg-cover bg-center bg-no-repeat"
>
  <Nav />

  <section class="mx-auto mt-20 max-w-xs sm:max-w-xl md:max-w-3xl lg:max-w-6xl">
    <div
      class="relative z-30 pb-32 flex flex-col text-center items-center gap-y-10 text-white md:flex-row md:gap-x-4"
    >
      <div class="flex-1 sm:text-center ">
        <h1
          class="font-heading text-heading-four md:text-heading-three lg:text-heading-one"
        >
          Reliable and affordable telehealth solution
        </h1>
        <p class="mt-4 text-sm font-normal lg:text-xl w-[50%] mx-auto">
          Mediq-i provides you with healthcare services from trusted, licensed
          professionals.
        </p>
      </div>

   
    </div>
  </section>
  <div class="absolute inset-0 z-10 bg-black/30"></div>
</header>

<script></script>
