---
import personalizedImg from "/assets/personalized.png";
---

<section
  class="mx-auto mt-20 flex max-w-xs flex-col items-center justify-center sm:max-w-xl md:max-w-3xl md:flex-row md:gap-x-7 lg:mt-28 lg:max-w-6xl"
>
  <div
    class="mb-7 flex-1 space-y-3 text-center md:mb-0 md:space-y-6 md:text-left"
  >
    <h2
      class="font-heading text-xl leading-[140%] text-secondary sm:text-heading-four md:text-heading-three lg:text-heading-one"
    >
      Personlized healthcare
    </h2>
    <p class="text-sm text-secondary/60 md:text-base lg:text-xl">
      Mediq-i ensures that everyone, without distinction of region, political
      belief, religion or socio-economic background enjoys the highest
      attainable standard of health.
    </p>
  </div>
  <div class="flex-1">
    <img src={personalizedImg} alt="personalized healthcare" />
  </div>
</section>
