<section
  class="mx-auto mt-28 max-w-xs sm:max-w-xl md:max-w-3xl lg:mt-28 lg:max-w-6xl"
>
  <div class="mb-6 space-y-3 text-center md:mb-14 md:space-y-4">
    <h1
      class="font-heading text-heading-four text-secondary lg:text-heading-one"
    >
      Our core services
    </h1>
    <p
      class="mx-auto text-sm text-secondary/60 sm:w-5/6 md:w-3/5 md:text-base lg:text-xl"
    >
      Mediq-i is a one stop shop as patients have access to a wide range of
      health care services.
    </p>
  </div>

  <div class="grid gap-5 text-white sm:grid-rows-3 lg:grid-cols-3">
    <div
      class="group relative rounded-lg bg-[url('/assets/consultations.png')] bg-cover bg-center bg-no-repeat transition-all duration-150 hover:scale-105 hover:cursor-pointer hover:drop-shadow-2xl sm:row-span-4 lg:col-span-3"
    >
      <div
        class="relative z-30 mt-36 mb-8 ml-6 space-y-4 sm:ml-8 sm:mt-32 sm:mb-10 md:mt-60 md:mb-16 lg:mt-80 lg:mb-24"
      >
        <h3 class="font-heading md:text-heading-three lg:text-heading-two">
          Medical consultations
        </h3>
        <p class="text-white/90 md:text-base lg:w-2/5 lg:text-xl">
          We provide you with quick online bookings and consultations with
          medical professionals
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>

    <div
      class="group relative rounded-lg bg-[url('/assets/wellness.png')] bg-cover bg-center bg-no-repeat transition-all duration-150 hover:scale-105 hover:cursor-pointer hover:drop-shadow-2xl"
    >
      <div
        class="relative z-30 mt-36 mb-8 space-y-4 pl-6 pr-3 sm:mt-32 sm:mb-10 sm:pl-8 md:mt-60 md:mb-16 lg:mt-80 lg:mb-16"
      >
        <h3 class="font-heading md:text-heading-three lg:text-2xl">
          Wellness and self management
        </h3>
        <p class="text-base text-white/90 lg:text-lg">
          Mediq-i provides you with important health tips and information on
          healthy living
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>

    <div
      class="group relative rounded-lg bg-[url('/assets/pharmacy.png')] bg-cover bg-center bg-no-repeat transition-all duration-150 hover:scale-105 hover:cursor-pointer hover:drop-shadow-2xl"
    >
      <div
        class="relative z-30 mt-36 mb-8 space-y-4 pl-6 sm:mt-32 sm:mb-10 sm:pr-3 md:mt-60 md:mb-16 lg:mt-80 lg:mb-16"
      >
        <h3 class="font-heading md:text-heading-three lg:text-2xl">
          Online pharmacy
        </h3>
        <p class="text-base text-white/90 lg:text-lg">
          We provide you with quick online bookings and consultations with
          medical professionals
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>
    <div
      class="group relative rounded-lg bg-[url('/assets/emergency.png')] bg-cover bg-center bg-no-repeat transition-all duration-150 hover:scale-105 hover:cursor-pointer hover:drop-shadow-2xl"
    >
      <div
        class="relative z-30 mt-36 mb-8 space-y-4 pl-6 pr-3 sm:mt-32 sm:mb-10 sm:pl-8 md:mt-60 md:mb-16 lg:mt-80 lg:mb-16"
      >
        <h3 class="font-heading md:text-heading-three lg:text-2xl">
          Emergency services
        </h3>
        <p class="text-base text-white/90 lg:text-lg">
          With Mediq-i you get access to medical services such as viewing health
          centers close to you
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>
  </div>
</section>
