<section
  class="mx-auto mt-28 max-w-xs sm:max-w-xl md:max-w-3xl lg:mt-28 lg:max-w-6xl"
>
  <div class="mb-14 text-center">
    <h1 class="font-heading text-heading-one text-secondary">
      Our core services
    </h1>
    <p class="text-secondary/60">
      Mediq-i is a one stop shop as patients have access to a wide range of
      health care services.
    </p>
  </div>

  <div class="grid grid-cols-3 gap-5 text-white">
    <div
      class="group relative col-span-3 rounded-lg bg-[url('/assets/consultations.png')] bg-cover bg-center bg-no-repeat hover:cursor-pointer"
    >
      <div class="relative z-30 mt-80 mb-24 ml-12 space-y-4">
        <h3 class="font-heading text-heading-two">Medical consultations</h3>
        <p class="w-2/5 text-xl text-white/90">
          We provide you with quick online bookings and consultations with
          medical professionals
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>

    <div
      class="group relative rounded-lg bg-[url('/assets/wellness.png')] bg-cover bg-center bg-no-repeat hover:cursor-pointer"
    >
      <div class="relative z-30 mt-80 mb-16 space-y-4 pl-8 pr-3">
        <h3 class="font-heading text-2xl">Wellness and self management</h3>
        <p class="text-lg text-white/90">
          Mediq-i provides you with important health tips and information on
          healthy living
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>

    <div
      class="group relative rounded-lg bg-[url('/assets/pharmacy.png')] bg-cover bg-center bg-no-repeat hover:cursor-pointer"
    >
      <div class="relative z-30 mt-80 mb-16 space-y-4 pl-8 pr-3">
        <h3 class="font-heading text-2xl">Online pharmacy</h3>
        <p class="text-lg text-white/90">
          We provide you with quick online bookings and consultations with
          medical professionals
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>
    <div
      class="group relative rounded-lg bg-[url('/assets/emergency.png')] bg-cover bg-center bg-no-repeat hover:cursor-pointer"
    >
      <div class="relative z-30 mt-80 mb-16 space-y-4 pl-8 pr-3">
        <h3 class="font-heading text-2xl">Emergency services</h3>
        <p class="text-lg text-white/90">
          With Mediq-i you get access to medical services such as viewing health
          centers close to you
        </p>
      </div>
      <div
        class="absolute inset-0 z-10 rounded-lg bg-black/30 transition-all duration-150 group-hover:bg-black/60"
      >
      </div>
    </div>
  </div>
</section>
