---
import Nav from "../partials/Nav.astro";
---

<header
  class="relative h-screen overflow-hidden bg-[url('/assets/about-us-header.png')] bg-cover bg-center bg-no-repeat"
>
  <Nav />

  <section
    class="relative z-30 mx-auto mt-48 sm:mt-24 max-w-xs space-y-5 text-center text-white sm:max-w-xl md:max-w-3xl lg:max-w-6xl"
  >
    <h1
      class="font-heading text-heading-three sm:text-heading-two lg:text-heading-one"
    >
      About us
    </h1>
    <p class="mx-auto text-base sm:w-4/5 sm:text-lg lg:w-3/5 lg:text-xl">
      Our mission is to ensure that everyone, without distinction of region,
      political belief, religion or socio-economic background enjoys the highest
      attainable standard of health.
    </p>
  </section>

  <div class="absolute inset-0 z-10 bg-black/30"></div>
</header>
