---
import BlogCard from "./BlogCard.astro";
import Container from "../../layouts/Container.astro";

const blogPosts = [
  {
    title: "Benefits of ginger",
    date: "March 23 2023",
    excerpt:
      "Ginger is a flowering plant whose rhizome, ginger root or ginger...",
  },
  {
    title: "Benefits of ginger",
    date: "March 23 2023",
    excerpt:
      "Ginger is a flowering plant whose rhizome, ginger root or ginger...",
  },
  {
    title: "Benefits of ginger",
    date: "March 23 2023",
    excerpt:
      "Ginger is a flowering plant whose rhizome, ginger root or ginger...",
  },
];
---

<Container>
  <section class="mt-14 mb-32 grid sm:grid-cols-2 lg:grid-cols-3 gap-10 sm:gap-5">
    {
      blogPosts.map((post) => (
        <BlogCard title={post.title} date={post.date} excerpt={post.excerpt} />
      ))
    }
  </section>
</Container>
