---
import personalized from '/assets/personalized.png'

const {title, date, excerpt} = Astro.props
---

<div>
    <div class=" rounded-lg"><img class="w-full h-full object-cover rounded-lg" src={personalized} alt=""></div>

    <div class="mt-5 sm:mt-10 space-y-4">
        <h3 class="font-heading text-secondary text-xl md:text-heading-four">{title}</h3>
        
        <div class="space-y-2">
            <p class="text-sm font-bold text-secondary ">{date}</p>
            <p class="text-secondary/70 md:w-5/6">{excerpt}</p>
        </div>
    </div>
</div>