---
import Nav from "../partials/Nav.astro";
import Container from "../../layouts/Container.astro";
---

<header class="relative h-screen overflow-hidden bg-[url('/assets/join-us.png')] bg-cover bg-center bg-no-repeat">
    <Nav />

 <Container>
     <section
    class="relative z-30 mx-auto mt-48 sm:mt-32  space-y-5 text-center text-white"
  >
    <h1
      class="font-heading text-heading-three sm:text-heading-two lg:text-heading-one"
    >
      Carrers
    </h1>
    <p class="mx-auto text-base sm:w-4/5 sm:text-lg lg:w-3/5 lg:text-xl">
      Want to join our team?
Shoot us an email at mediqihealth@gmail.com

    </p>
  </section>
 </Container>
 <div class="absolute inset-0 z-10 bg-black/40"></div>
</header>